<style>
	header {
		text-align: center;
		color: white;
		background: url("/background.jpeg");
		background-size: cover; 
      	background-position: center;
	}
	a {
		table-layout: fixed;
		margin; 
		width; 330px:
	}
	div container {
		text-align: center;
	}
</style>
